@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>My Accounts</h1>
<br />
<table class="table table-hover">
    <tr>
        No
    </tr>
    <tr>
        Branch
    </tr>
    <tr>
        Balance
    </tr>
    <tr>
        Created At
    </tr>
    <tr>
        Action
    </tr>
   @* @foreach (var Acc in Model)
    {
        <tr>
        </tr>
    }*@
</table>

