@model AccountAddDto
@{
    ViewData["Title"] = "NewAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>New Account</h1>
<br />
<form method="post">
    <span>Bank</span>
    @Html.DropDownListFor(x=>x.BankId,(IEnumerable<SelectListItem>)ViewBag.Banks, "Choose Bank", new { @class = "form-control" })
    <br />
    <span>Balance</span>
    <input type="text" maxlength="6" asp-for="Balance" class="form-control" />
    <br />
    <input type="submit" class="form-control" value="Save Changes" />
</form>
