@model ProcessAddDto
@{
    ViewData["Title"] = "CreateProcess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Process</h1>
<br />
<form method="post">
    <span>Receiver No</span>
    <input asp-for="ReceiverNo" type="text" maxlength="16" class="form-control" placeholder="Receiver" />
    <br />
    <span>Amount</span>
    <input asp-for="Amount" type="text" class="form-control" placeholder="Amount" />
    <br />
    <span>Type</span>
    <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ProcessEnum>()">
        <option selected="selected" value="">Please Select Transfer Type</option>
    </select>
    <br />
    <span>Transaction Date</span>
    <input asp-for="CreatedAt" type="text" class="form-control" readonly value="@DateTime.Now" />
    <br />
    <input type="submit" class="form-control" value="Save Changes" />
</form>
